{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

    <h1 style="margin-bottom:25px;">Login</h1>
    <h4 style="margin-top:-20px;">Sign in now to gain access to your own shopping cart!</h4>
    <h4 style="color:red;background-color:yellow;margin-bottom:25px;">WARNING! ALL YOUR CURRENT CART ITEMS WILL BE ADDED TO YOUR PERSONAL SHOPPING CART AND SAVED TO CLOUD. PROCEED WITH CAUTION.</h4>

    <div class="login">
        <form action="/login" method="post">
            <input autocomplete="off" autofocus name="username" placeholder="Username" type="text">
            <input name="password" placeholder="Password" type="password">
            <button type="submit">Log In</button>
        </form>
        <span>---------- <i>or</i> ----------</span>
        <form action="/register" method="get">
            <button type="submit" style="padding-left:105px;padding-right:105px;">Sign Up</button>
        </form>
    </div>

{% endblock %}
