/* special header for checkout and receipt */
.special-header {
    padding: 15px 0;
    border-bottom: 1px solid #d2d2d2;
    font: bold 3vw "Brush Script MT", serif;
    text-align: center;
}

.special-header a {
    color: black;
}

/* --- */

.fill-in-details-section {
    margin: 0 0 35px 20%;
}

/* format input bars */
.fill-in-details-section input,
select {
    /* format input bar */
    padding: 15px;
    width: 90%;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    margin: 0 7.5px 15px 0;
    font-size: 1.2vw;
}

.fill-in-details-section input:focus {
    /* format input bar on click */
    outline: 1.5px solid hsl(204, 77%, 39%);
}

/* allow two input bars in a single line */
.fill-in-details-inline input {
    width: 41.3%;
    margin: 0 7.5px 15px 0;
}

label[for="country"] {
    font: 1vw Verdana, serif;
    color: grey;
    line-height: 25px;
}

/* pay button */
.paynow {
    padding: 17.5px 33.5%;
    border: 2px solid white;
    border-radius: 7.5px;
    margin-top: -15px;
    margin-left: 20%;
    background-color: black;
    color: white;
    font: 1.25vw Verdana, serif;
}

.paynow:hover {
    cursor: pointer;
    border: 2px solid yellow;
    color: yellow;
}

/* check products section */
.checkout-info-section {
    position: sticky;
    top: 0;
    right: 0;
    width: 40%;
    min-height: 43vw;
    overflow-y: auto;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.checkout-info-section table {
    border-collapse: collapse;
    /* left and right margin only */
    margin: 0 5%;
    width: 90%;
}

.checkout-info-section td {
    min-width: 30%;
    max-width: 30%;
    padding: 5% 0;
    border-bottom: 1px solid black;
}

.checkout-info-section td:first-child {
    min-width: 40%;
    max-width: 40%;
    text-align: left;
}

.checkout-info-section td:nth-child(2) {
    text-align: center;
}

.checkout-info-section td:last-child {
    text-align: right;
    padding-right: 20px;
}

.no-border-bottom td {
    border: 0;
}

.no-padding td {
    padding: 0;
}

/* format products */
.checkout-img {
    float: left;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 15px;
}

.checkout-info-section p {
    margin: 0;
    line-height: 60px;
}

.checkout-subtotal {
    font: 1.25vw Verdana, serif;
}

.checkout-total {
    font: bold 2vw Verdana, serif;
    padding-bottom: 10%;
}

/* gift code */
.apply-gift-code-btn {
    padding: 1.25vw 1vw;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    background-color: #eaeaea;
    transition: background-color 0.3s ease-in-out;
    color: #505050;
    font-size: 1.05vw;
}

.apply-gift-code-btn:hover {
    background-color: hsl(204, 77%, 39%);
    color: white;
}

.gift-code-status {
    margin: 0;
    font: 1vw Verdana, serif;
    color: red;
}