/* split page into two vertically */
.vert-split-half:after {
    content: "";
    display: table;
    clear: both;
}

.each-half {
    float: left;
    width: 50%;
}

.product-img {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    max-width: 33vw;
    max-height: 33vw;
}

.product-img:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.desc-space {
    padding: 40px;
}