footer {
    background-color: black;
    color: white;
    padding: 40px 75px;
    margin-top: 100px;
}

/* split page into three vertical columns */
.each-third {
    float: left;
    width: 33.33%;
}

.vert-split-three:after {
    content: "";
    display: table;
    clear: both;
}

/* footer links */
.each-third * {
    color: white;
    text-decoration: none;
    padding: 10px 0;
}

.footer-heading {
    margin-bottom: 15px;
}

/* bottommost copyright block */
.bottom-footer {
    margin-top: 100px;
    font: 1vw "Trebuchet MS", sans-serif;
    text-align: center;
}

/* space before footer (if needed) */
.beforefooterspace {
    padding: 50px;
}