/* topmost welcome block */
.top-header {
    display: block;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: black;
    /* text */
    font: 0.8vw "Trebuchet MS", sans-serif;
    color: white;
    text-align: center;
}

/* change text on mouseover */
div#welcome span#a {
    display: inline;
}

div#welcome:hover span#a {
    display: none;
}

div#welcome span#b {
    display: none;
}

div#welcome:hover span#b {
    display: inline;
}

/* brand & logo */
.brand-header {
    font: bold 3vw "Brush Script MT", serif;
    text-align: center;
}

.brand-header a {
    color: black;
}

/* special header for checkout and receipt */
.special-header {
    padding: 15px 0;
    border-bottom: 1px solid #d2d2d2;
    font: bold 3vw "Brush Script MT", serif;
    text-align: center;
}

.special-header a {
    color: black;
}